Repository danieleschmidt/autogen-code-review-bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @owner, @python-team, @docs-team, @devops-team, @security-team

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/DEVELOPMENT.md
  pyproject.toml
Owners: @owner, @docs-team, @python-team

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/DEVELOPMENT.md
  pyproject.toml
Owners: @owner, @docs-team, @python-team

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/conftest.py
  tests/contracts/README.md
  tests/fixtures/README.md
  tests/test_example_patterns.py
  tests/utils.py
Owners: @docs-team, @python-team

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/conftest.py
  tests/contracts/README.md
  tests/fixtures/README.md
  tests/test_example_patterns.py
  tests/utils.py
Owners: @docs-team, @python-team

build: add containerization and build automation
  .releaserc.json
  Dockerfile.dev
  docker-compose.dev.yml
  docs/BUILD.md
  scripts/build.sh
Owners: @owner, @devops-team, @docs-team

build: add containerization and build automation
  .releaserc.json
  Dockerfile.dev
  docker-compose.dev.yml
  docs/BUILD.md
  scripts/build.sh
Owners: @owner, @devops-team, @docs-team

ops: add monitoring and observability configuration
  docs/monitoring/README.md
  monitoring/blackbox.yml
  monitoring/health-checks.yml
  monitoring/logging-config.yml
  monitoring/otel-collector-config.yml
  monitoring/tracing-config.yml
Owners: @docs-team, @devops-team

ops: add monitoring and observability configuration
  docs/monitoring/README.md
  monitoring/blackbox.yml
  monitoring/health-checks.yml
  monitoring/logging-config.yml
  monitoring/otel-collector-config.yml
  monitoring/tracing-config.yml
Owners: @docs-team, @devops-team

docs: add comprehensive CI/CD workflow documentation and templates
  docs/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @docs-team, @devops-team

docs: add comprehensive CI/CD workflow documentation and templates
  docs/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @docs-team, @devops-team

.github/CODEOWNERS:

# Global owners
* @owner

# Python code
*.py @python-team
src/ @python-team

# Documentation
docs/ @docs-team
*.md @docs-team

# Configuration files
*.yml @devops-team
*.yaml @devops-team
Dockerfile @devops-team
docker-compose.yml @devops-team

# Security sensitive files
SECURITY.md @security-team
.github/workflows/ @security-team

# CI/CD
.github/ @devops-team
Makefile @devops-team

# Dependencies
requirements*.txt @python-team
pyproject.toml @python-team
setup.py @python-team
EOF < /dev/null
