Repository danieleschmidt/autogen-code-review-bot, changes with the owners that CODEOWNERS names for each.
All owners: @autogen-maintainers, @code-review-team, @core-developers, @agent-specialists, @security-team, @devops-team, @sre-team, @code-quality-team, @qa-team, @performance-team, @documentation-team, @project-leads, @architects, @product-managers, @monitoring-team, @on-call-team, @integration-team, @legal-team, @community-team

CODEOWNERS:

# Code ownership and review assignments for AutoGen Code Review Bot
# 
# For more information about CODEOWNERS:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global defaults - these users/teams are requested for review when someone opens a PR
* @autogen-maintainers @code-review-team

# Core application code
/src/ @core-developers @autogen-maintainers
/bot.py @core-developers @autogen-maintainers
/planner.py @core-developers @autogen-maintainers
/review_pr.py @core-developers @autogen-maintainers

# Agent configuration and templates
/agent_config.yaml @agent-specialists @autogen-maintainers
/src/autogen_code_review_bot/agent_*.py @agent-specialists @autogen-maintainers

# Security-related files
/src/autogen_code_review_bot/token_security.py @security-team @autogen-maintainers
/src/autogen_code_review_bot/subprocess_security.py @security-team @autogen-maintainers
/SECURITY.md @security-team @autogen-maintainers
/.github/workflows/security*.yml @security-team @devops-team
/monitoring/security/ @security-team @sre-team

# Infrastructure and deployment
/Dockerfile* @devops-team @sre-team
/docker-compose*.yml @devops-team @sre-team
/monitoring/ @sre-team @devops-team
/scripts/ @sre-team @devops-team
/Makefile @devops-team @sre-team

# CI/CD and automation
/.github/ @devops-team @autogen-maintainers
/.pre-commit-config.yaml @devops-team @code-quality-team
/pyproject.toml @core-developers @devops-team
/setup.py @core-developers @devops-team

# Testing infrastructure
/tests/ @qa-team @core-developers
/benchmarks/ @performance-team @qa-team
/pytest.ini @qa-team @core-developers
/conftest.py @qa-team @core-developers

# Documentation
/docs/ @documentation-team @autogen-maintainers
/README.md @documentation-team @autogen-maintainers
/CONTRIBUTING.md @documentation-team @autogen-maintainers
/CHANGELOG.md @documentation-team @autogen-maintainers

# Project management and governance
/PROJECT_CHARTER.md @project-leads @autogen-maintainers
/ARCHITECTURE.md @architects @autogen-maintainers
/docs/adr/ @architects @autogen-maintainers
/docs/ROADMAP.md @project-leads @product-managers

# Configuration files
/.env.example @devops-team @security-team
/.editorconfig @code-quality-team
/.gitignore @devops-team
/.dockerignore @devops-team

# Language-specific configurations
/ruff.toml @code-quality-team @core-developers
/.secrets.baseline @security-team @devops-team

# Monitoring and observability
/monitoring/prometheus.yml @sre-team @monitoring-team
/monitoring/grafana-*.json @sre-team @monitoring-team
/monitoring/alerts/ @sre-team @on-call-team
/docs/monitoring/ @sre-team @documentation-team
/docs/SRE_*.md @sre-team @documentation-team

# Performance and optimization
/benchmarks/ @performance-team @core-developers
/src/autogen_code_review_bot/caching.py @performance-team @core-developers
/src/autogen_code_review_bot/monitoring.py @performance-team @sre-team

# Integration and external APIs
/src/autogen_code_review_bot/github_integration.py @integration-team @core-developers
/src/autogen_code_review_bot/webhook*.py @integration-team @core-developers
/setup_webhook.py @integration-team @devops-team

# License and legal
/LICENSE @legal-team @autogen-maintainers
/CODE_OF_CONDUCT.md @community-team @autogen-maintainers

# Special files that require multiple team approvals
/pyproject.toml @core-developers @devops-team @security-team
/Dockerfile @devops-team @security-team @sre-team
/.github/workflows/ @devops-team @security-team @qa-team

feat(sdlc): add autonomous SDLC execution with quantum optimizations
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  COMPREHENSIVE_RESEARCH_COMPLETION_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  README.md
  comprehensive_quality_gates.py
  enhanced_quantum_scaling_system.py
  enhanced_research_validation.py
  enhanced_validation_results.json
  execute_research_breakthrough.py
  final_research_deliverables.py
  generate_research_artifacts.py
  global_deployment_system.py
  quality_gates_report.json
  research_artifacts/datasets/large_scale/README.md
  research_artifacts/datasets/large_scale/large_scale_metadata.json
  research_artifacts/datasets/medium_scale/README.md
  research_artifacts/datasets/medium_scale/medium_scale_metadata.json
  research_artifacts/datasets/small_scale/README.md
  research_artifacts/datasets/small_scale/small_scale.csv
  research_artifacts/datasets/small_scale/small_scale.parquet
  research_artifacts/datasets/small_scale/small_scale_full.pkl.gz
  research_artifacts/datasets/small_scale/small_scale_metadata.json
  research_breakthrough_results.json
Owners: @autogen-maintainers, @code-review-team, @documentation-team

feat(research): remove large dataset files and complete autonomous SDLC execution
  research_artifacts/LARGE_FILES_README.md
Owners: @autogen-maintainers, @code-review-team

feat(autonomous_sdlc): add complete autonomous SDLC implementation with breakthrough algorithms
  AUTONOMOUS_SDLC_DOCUMENTATION.md
  AUTONOMOUS_SDLC_README.md
  DEPLOYMENT_GUIDE.md
  src/autogen_code_review_bot/breakthrough_performance_optimizer.py
  src/autogen_code_review_bot/breakthrough_validation_engine.py
  src/autogen_code_review_bot/consciousness_engine.py
  src/autogen_code_review_bot/global_deployment_engine.py
  src/autogen_code_review_bot/quantum_neural_hybrid.py
  src/autogen_code_review_bot/temporal_optimization_engine.py
  test_breakthrough_implementations.py
Owners: @autogen-maintainers, @code-review-team, @core-developers

feat(autonomous_sdlc): add complete autonomous SDLC implementation with breakthrough algorithms (#61)
  AUTONOMOUS_SDLC_DOCUMENTATION.md
  AUTONOMOUS_SDLC_README.md
  DEPLOYMENT_GUIDE.md
  src/autogen_code_review_bot/breakthrough_performance_optimizer.py
  src/autogen_code_review_bot/breakthrough_validation_engine.py
  src/autogen_code_review_bot/consciousness_engine.py
  src/autogen_code_review_bot/global_deployment_engine.py
  src/autogen_code_review_bot/quantum_neural_hybrid.py
  src/autogen_code_review_bot/temporal_optimization_engine.py
  test_breakthrough_implementations.py
Owners: @autogen-maintainers, @code-review-team, @core-developers

refactor(metrics): refactor metrics system to use classes and registry
  AUTONOMOUS_TEST_ERROR.json
  COMPREHENSIVE_AUTONOMOUS_SDLC_REPORT.json
  MINIMAL_AUTONOMOUS_TEST_REPORT.json
  SIMPLE_AUTONOMOUS_TEST_REPORT.json
  src/autogen_code_review_bot/autonomous_sdlc.py
  src/autogen_code_review_bot/metrics.py
Owners: @autogen-maintainers, @code-review-team, @core-developers

refactor(metrics): refactor metrics system to use classes and registry (#64)
  AUTONOMOUS_TEST_ERROR.json
  COMPREHENSIVE_AUTONOMOUS_SDLC_REPORT.json
  MINIMAL_AUTONOMOUS_TEST_REPORT.json
  SIMPLE_AUTONOMOUS_TEST_REPORT.json
  src/autogen_code_review_bot/autonomous_sdlc.py
  src/autogen_code_review_bot/metrics.py
Owners: @autogen-maintainers, @code-review-team, @core-developers

feat(autonomous_sdlc): implement complete autonomous SDLC system with breakthrough features
  .autonomous_sdlc/execution_history.json
  .monitoring_data/metrics_20250827_11.json
  AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  autonomous_sdlc_master_implementation.py
  src/autogen_code_review_bot/breakthrough_monitoring_engine.py
  src/autogen_code_review_bot/enhanced_progressive_quality_gates.py
  src/autogen_code_review_bot/research_driven_sdlc.py
  test_complete_autonomous_sdlc.py
Owners: @autogen-maintainers, @code-review-team, @core-developers

feat(autonomous_sdlc): implement complete autonomous SDLC system with breakthrough features (#65)
  .autonomous_sdlc/execution_history.json
  .monitoring_data/metrics_20250827_11.json
  AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  autonomous_sdlc_master_implementation.py
  src/autogen_code_review_bot/breakthrough_monitoring_engine.py
  src/autogen_code_review_bot/enhanced_progressive_quality_gates.py
  src/autogen_code_review_bot/research_driven_sdlc.py
  test_complete_autonomous_sdlc.py
Owners: @autogen-maintainers, @code-review-team, @core-developers
